<div class="background">
    <div class="toolBar">
        <div class="toolBar">
          <div class="row">
            <div class="col-6"><button class="btn" (click)="backClicked()"><i class="material-icons">keyboard_backspace</i></button></div>
            <div class="col-6 text-right"><i class="material-icons">reply</i> <i class="material-icons">delete</i></div>

          </div>
      </div>
    </div>

    <div class="subject">
      Job Assignment #454354
    </div>
    <div class="message">
      <div class="row messageHeader">
        <div class="col-8"><i class="material-icons">domain</i><span>Dispatch</span></div>
        <div class="col-4"><span>7:30 AM</span></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam distinctio cum, ut repudiandae labore dolores, odit dolorum minus eius eaque ipsum voluptas quidem veritatis, temporibus earum in. Minus, explicabo.
      </p>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam distinctio cum, ut repudiandae labore dolores, odit dolorum minus eius eaque ipsum voluptas quidem veritatis, temporibus earum in. Minus, explicabo.
        </p>
    </div>

  </div>

