<div class="background">

    <div class="toolBar">
     <button class="btn" (click)="backClicked()"><i class="material-icons">keyboard_backspace</i></button> Fullfilment Center ID
    </div>
  <ul>
    <li>
      <a routerLink="/readEmail">
      <div class="row">
        <div class="col-2"><i class="material-icons">domain</i></div>
        <div class="col-10">
          <div class="row">
            <div class="col-3 new">Dispatch</div>
            <div class="col-9 text-right new">7:35 AM</div>
          </div>
          <span class="new">Job Assignment #454354</span><span class="preview">Loren Ipsum dolor sit amet, consecteafvyl</span></div>
      </div>
      </a>
    </li>
    <li>
        <a routerLink="/fulfillementMessage">
          <div class="row">
            <div class="col-2"><i class="material-icons">domain</i></div>
            <div class="col-10">
              <div class="row">
                <div class="col-3 ">Dispatch</div>
                <div class="col-9 text-right ">7:35 AM</div>
              </div>
              <span >Job Assignment #454354</span><span class="preview">Loren Ipsum dolor sit amet, consecteafvyl</span></div>
          </div>
          </a>
  </li>
  <li>
      <a routerLink="/fulfillementMessage">
        <div class="row">
          <div class="col-2"><i class="material-icons">domain</i></div>
          <div class="col-10">
            <div class="row">
              <div class="col-3 ">Dispatch</div>
              <div class="col-9 text-right">7:35 AM</div>
            </div>
            <span>Job Assignment #454354</span><span class="preview">Loren Ipsum dolor sit amet, consecteafvyl</span></div>
        </div>
        </a>
  </li>
  <li>
      <a routerLink="/fulfillementMessage">
        <div class="row">
          <div class="col-2"><i class="material-icons">domain</i></div>
          <div class="col-10">
            <div class="row">
              <div class="col-3">Dispatch</div>
              <div class="col-9 text-right">7:35 AM</div>
            </div>
            <span>Job Assignment #454354</span><span class="preview">Loren Ipsum dolor sit amet, consecteafvyl</span></div>
        </div>
        </a>
  </li>
  </ul>
  <div class="row compose">
    <div class="col text-right"><button class="btn" (click)="composeMessage()"><i class="material-icons">create</i></button></div>
  </div>

  </div>
