.background {
  height: 100%;
 background: #f5f5f7;

ul{
  padding: 0;

  li {
    a{
      color: black;
    }
    color: black;
    border-bottom: 1px solid grey;
    list-style: none;
     background: #fff;
     padding: 10px;

    span{
      display: block;
    }

    .new{
      font-weight: bold;
    }

    .preview{

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      margin: 15px 0;
      color: #fff;
      background: #0b354d;
      padding: 10px;
      border-radius: 50%;
    }

  }

  li:hover{
    background: grey;
  }

}

.compose{

  height: 300px;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
  }

  i {
    color: #fff;
    background: #06a4ff;
    padding: 10px;
    border-radius: 50%;
  }
}

li:first-child {
  border-top: 1px solid grey;
  margin-top: 10px;
}

}
