
.mat-drawer-content{
  overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.mat-drawer-content::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.row{
  padding: 0;
  margin: 0;
}
.toolbar {
  .btn{
    color: #fff;
  }
  height: 50px;
  color: #fff;
  width: 100%;
 background: #003057;
}
.topBar {
  height: 50px;
  background: #003057;
  color: #fff;
}
.right{
  text-align: right;
}
.left{
  padding-left: 0;
}
.map {

  width: 100%;
}
.toolbar.btn{
  color: #fff;
}
mat-sidenav{

  width: 275px;

}

mat-sidenav-container{
  height: 800px;



  .spectrumLogo{
    width: 100px;
  }
  .menuHeader{
    color: #fff;
    background: #056cc1;
    height: 150px;
  }
}
.joblistTitle{
  border-bottom: 1px solid grey;
}
.yellow{
  color: #faa41a;
}
.green{
  color: green;
}
.grey{
  color: grey;
}
.clockInMessage{
  padding: 20px;
  border-bottom: 1px solid grey;
}
.jobCard{
  padding-top: 15px;
  border-bottom: 1px solid grey;
  overflow: hidden;
  span{

    display: block;
    padding: 0 0 0 30px;

  }
  .jobDesc, .name, .address{
    margin-left: 20px;

  }
  .setETA{
    float: left;


  }
  .navigate{
    float: left;
  }
  .btn{
    color: #0099d8;
  }
}
.dropdown-menu{
  background:#003057;
}
.dropdown-item{
  color: #fff;
}
.dropdown-item:hover{
  background: none;
}
