<mat-sidenav-container
class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
<mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
<div class="menuHeader">
  <div class="row">
    <div class="col-6"><img class="spectrumLogo" src="../../assets/Asset 2.png">
    </div>
    <div class="col-6">Clocked In</div>
  </div>
<div class="row">
  <div class="col">
      <p>Christopher Lavoie</p>
      <p>Tech ID 7004</p>
      <p>New England QAKA</p>
  </div>
</div>
</div>

<ul>
  <li><a routerLink="/current"><i class="material-icons">place</i> Current Job</a></li>
  <li><i class="material-icons">list</i> Job List</li>
  <li><a routerLink="/messages"><i class="material-icons">chat_bubble</i> Messages</a></li>
  <li><a routerLink="/equipment"><i class="material-icons">router</i>Equipment Buffer</a></li>
  <li><i class="material-icons">settings_remote</i>Device Polling</li>
  <li><i class="material-icons">av_timer</i>Speed Test</li>
  <li><i class="material-icons">search</i>Address Search</li>
  <li><i class="material-icons">insert_invitation</i>Shift Schedule</li>
  <li><i class="material-icons">bar_chart</i>End of Day Summary</li>
  <li><i class="material-icons">assignment_turned_in</i>TechMobile Training</li>
  <li><i class="material-icons">exit_to_app</i>Sign Out</li>
</ul>

</mat-sidenav>

<mat-sidenav-content>
    <div class="toolBar">
        <div class="row">
          <div class="col-5 left"><p><button class="btn" (click)="sidenav.open()"><i class="fas fa-bars"></i></button> TechMobile</p></div>
          <div class="col-7 right">
            <div class="row">
              <div class="col-10"><div class="row">
                  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn" id="dropdownBasic1" ngbDropdownToggle>{{ clockedIn }}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngIf="clockedIn === 'false'" ngbDropdownItem (click)="changeStatus()">Clock In</button>
                        <button *ngIf="clockedIn === 'true'" ngbDropdownItem (click)="changeStatus()">Clock Out</button>
                      </div>
                    </div>
                  </div>
                  </div></div>
              <div class="col-2"><i class="material-icons">chat_bubble</i></div>
            </div>



          </div>
        </div>

      </div>

     <img class="map" src="../../assets/map.png">
      <div class=joblistTitle>
        <div class="row">
            <div class="col-4">First Job</div>
            <div class="col-8">
              <div class="jobKey">
                <i class="fas fa-circle green"></i> Current
                <i class="fas fa-circle yellow"></i> Next
                <i class="fas fa-circle grey"></i> Future
            </div>
        </div>
      </div>
      </div>
      <div class="clockInMessage"  *ngIf="clockedIn === 'false'">Clock in to see your complete job list.</div>

      <div class="jobCard">
          <span class="time"><i class="fas fa-circle" [ngClass]="{'green':firstJob.jobStatus === 'active'}"></i> {{ firstJob.time }}</span>
          <span class="jobDesc">{{ firstJob.serviceType }} (Job #{{ firstJob.jobNumber }})</span>
         <span class="name">{{ firstJob.customer }}</span>
          <span class="address">{{ firstJob.Address }}</span>
          <span class="setETA" > <button class="btn" disabled><i class="fas fa-stopwatch"></i> Set ETA</button></span>
          <span class="navigate"> <button class="btn"><i class="fas fa-car"></i> Navigate</button></span>
      </div>

     <div class="afterIn" *ngIf="clockedIn === 'true'">
      <div class="jobCard" *ngFor="let job of jobCard">
        <span class="time"><i class="fas fa-circle" [ngClass]="{'yellow':job.jobStatus === 'next', 'grey':job.jobStatus === 'future'}"></i> {{ job.time }}</span>
        <span class="jobDesc">{{ job.serviceType }} (Job #{{ job.jobNumber }})</span>
       <span class="name">{{ job.customer }}</span>
        <span class="address">{{ job.Address }}</span>
        <span class="setETA" > <button class="btn" disabled><i class="fas fa-stopwatch"></i> Set ETA</button></span>
        <span class="navigate"> <button class="btn"><i class="fas fa-car"></i> Navigate</button></span>
    </div>
     </div>




</mat-sidenav-content>
</mat-sidenav-container>

