.background {
  width: 100%;
  background: #003057;
}
.logo{
  width: 100%;
  margin: 50px auto
}
.container{
  color: #fff;
  width: 80%;
}
i{
  color: red;
}
input{
  background: none;
  color: #fff;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
}

.btn{
  margin-top: 50px;
  border-radius: 50px;
}

.btn-link{
  display: block;
  margin: 80px auto;
}
.incorrect{
  margin-top: 50px;
}
/* all */
::-webkit-input-placeholder { /* Webkit */
  color: #fff;
}

:-moz-placeholder { /* Firefox 18-4 */
  color:  #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color:  #fff;
}

:-ms-input-placeholder {  /*  IE10+  */
  color:  #fff;
}
input:active[type="text"], textarea {

  background-color : none;

}
textarea:focus, input:focus{
  color: #fff;
  background-color : #003057;
}
