
.subNav{
  position: fixed;
  top: 50px;
  width: 370px;
  margin-top: -10px;
  background: #0b354d;
  color: #fff;
  z-index: 1000;
}


ul{
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topSection{
  padding-top: 35px;
}

.map {
  width: 100%;
}

p {
margin-bottom: 0px;
}
.detailsBar{
  background: #0b354d;
  color: #fff;
  font-size: 12px;
}
.navIcon {
  margin-top: -10px;
  background: #0099d8;
    padding:10px;
    border-radius: 50%;
    font-size: 25px;
}
.jobDetailCard{
  margin-top: 20px;
}
.channelLineUp{
  padding: 10px 16px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
  border-top: 1px solid rgba($color: #000000, $alpha: .1);
}
.active{
  border-bottom: 3px solid #0099d8;
}
.row{
  padding: 0;
  margin: 0;
}
.left{
  padding: 0;
  p{
    padding-bottom: 10px;
  }
}
.right{
  text-align: right;
  padding: 0;
  p{
    padding-bottom: 10px;
  }
}
.link {
  padding: 10px;
  display: block;
  text-align: center;
}
mat-card hr{
  margin-left: -16px;
  width: 370px;
}
mat-card{
  margin-bottom: 20px;
}

.activationButton{
  width: 15%;
}

.mygrid {
  background: #fff;
  margin-bottom: 10px;
  td {
    width: 370px;
    padding: 10px 0 10px 16px;

  }
}

.mycard {
  background: #fff;
  margin-bottom: 10px;
  h6{
    padding: 16px;
  }
}
.mycard td {
  width: 370px;
  padding: 10px 0 10px 16px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
}
.equipSummary{
  margin-top: 90px;
}
.equipSummaryList{
  margin-top: 170px;
}
.activeBar{
  top:140px;
  margin-top: -50px;
  z-index: 100;
  background: #f5f5f7;
  position: fixed;
  width: 370px;
  padding: 20px;
  box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: .1);
}
.equipCard:first-child{
  margin-top: 150px;
}
.equipCard {
  img{
    border: 1px solid rgba($color: #000000, $alpha: .1);
  }
  padding: 10px 0;
  border-top: 1px solid rgba($color: #000000, $alpha: .1);
  border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

  .alert, .check{
    margin-top: 30px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
  }
  .alert{
    background: red;
  }
  .check{
    background: green;
  }
}


.refresh{


  button {
    position: fixed;
    margin-top: -175px;
    margin-left: -65px;
  }

  i {
    color: #fff;
    background: #056cc1;
    padding: 10px;
    border-radius: 50%;
  }
}

