<app-top-nav name="Job #{{jobNumber}}"></app-top-nav>
<div class="background">
<div class="content">
    <div class="subNav">
        <ul>
          <li><a (click)="showDetails()" [ngClass]="{'active': toggleDetails}">Job Details</a> </li>
          <li><a (click)="showEquipment()" [ngClass]="{'active': toggleEquipment}">Equipment Summary</a> </li>
        </ul>

        </div>
        <div *ngIf="jobDetails" class="jobDetails">
            <div class="topSection">
                <img class="map" src="../../assets/map.png">
            </div>
            <div class="detailsBar">

              <div class="row">
                <div class="col-2"><img class="house" src="../../assets/house.png"></div>
                <div class="col-7"><p>123 Main Ave.</p>
                                    <p>St. Louis, MO 43256</p>
                                    <p>Est. Travel Time: 1 minutes</p>
                </div>
                <div class="col-3"><div class="nav">
                    <i class="fas fa-car navIcon"></i>
                </div></div>
              </div>
            </div>
            <div class="jobDetailCard mygrid">
              <button *ngIf="!onJob" (click)=goOnJob()>GO ON JOB</button>
              <button *ngIf="onJob" disabled>Complete Job</button>

              <p>8:00 - 10:00 AM</p>
              <p>New Install</p>
              <p><i class="fas fa-stopwatch"></i> 1 minutes</p>

              <table>
                  <tr>
                     <td>Job Number</td>
                     <td>1127345</td>
                  </tr>

                  <tr>
                     <td>Created on</td>
                     <td>1/11/17 8:03 AM</td>
                  </tr>

                  <tr>
                     <td>Work Order</td>
                     <td>645632454657</td>
                  </tr>

                  <tr>
                    <td>Order Source</td>
                    <td>ICOMS</td>
                  </tr>
                  <tr>
                      <td>Fulfillment Center</td>
                      <td>South Carolina</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>Michael Haun</td>
                      </tr>
                      <tr>
                          <td>Account Number</td>
                          <td>7483901892</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>123 Street Ave.<br>St. Louis, MO 34234</td>
                        </tr>
              </table>
              <div class="channelLineUp">
                <a href="#"><i class="material-icons">
                  dvr
                  </i> VIEW CHANNEL LINEUP FOR THIS ADDRESS</a>
              </div>

              <table>
                <tr>
                  <td>Phone Number</td>
                  <td>(987)234-1254</td>
              </tr>
              </table>


               <p>Description</p>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus eaque voluptas animi voluptate tempore, saepe minima.</p>

               <table>
                 <tr>
                   <td>Current Services</td>
                   <td>Voice HSD Video</td>
                 </tr>

                 <tr>
                    <td>Spectrum HSD</td>

                  </tr>

                  <tr>
                      <td>Spectrum Video</td>

                    </tr>

                    <tr>
                        <td>TC Indicator</td>
                        <td>Data Here</td>
                      </tr>

                      <tr>
                          <td>Work Units</td>
                          <td>Data Here</td>
                        </tr>

                        <tr>
                            <td>Dispatch Status</td>
                            <td>Data Here</td>
                          </tr>

                          <tr>
                              <td>Drop Tags</td>
                              <td><i class="material-icons">
                                  edit
                                  </i> 453452343</td>
                            </tr>
               </table>
              </div>

              <mat-card>
                  <h6>Requested Services</h6>
                  <hr>

                  <p>Add Spectrum WiFi Device</p>
                  <hr>
                  <p><img class="activationButton" src="../../assets/activation.png"> Activation</p>
              </mat-card>


              <div class="mycard">
                <h6>Account History</h6>
                <hr>
                <table>
                    <tr>
                      <td>Install HSD</td>
                      <td>1/15/17</td>
                    </tr>
                    <tr>
                       <td>Adresss Change</td>
                       <td>8/10/14</td>
                     </tr>
                     <tr>
                         <td>Trouble Call</td>
                         <td>4/13/14</td>
                       </tr>
                  </table>


                <p><a class="link" href="#">SEE ALL</a></p>
              </div>
        </div>

      <div *ngIf="equipSummary" class="equipSummary">




        <div class="activeBar">
         5 Active CPEs
        </div>

<div class="equipSummaryList">

    <div class="row equipCard">
    <div class="col-2"><i class="material-icons alert">priority_high</i></div>
    <div class="col-4"><img src="../../assets/Screen Shot 2019-08-20 at 9.11.18 AM.png"></div>
    <div class="col-6">Arris TG862<br>001596EA2F0<br>Voice HSD Video</div>
    </div>



      <div class="row equipCard">
        <div class="col-2"><i class="material-icons check">done</i></div>
        <div class="col-4"><img src="../../assets/Screen Shot 2019-08-20 at 9.11.18 AM.png"></div>
        <div class="col-6">Arris TG862<br>001596EA2F0<br>Voice HSD Video</div>
      </div>

      <div class="row equipCard">
        <div class="col-2"><i class="material-icons check">done</i></div>
        <div class="col-4"><img src="../../assets/Screen Shot 2019-08-20 at 9.11.18 AM.png"></div>
        <div class="col-6">Arris TG862<br>001596EA2F0<br>Voice HSD Video</div>
      </div>

      <div class="row equipCard">
        <div class="col-2"><i class="material-icons check">done</i></div>
        <div class="col-4"><img src="../../assets/Screen Shot 2019-08-20 at 9.11.18 AM.png"></div>
        <div class="col-6">Arris TG862<br>001596EA2F0<br>Voice HSD Video</div>
      </div>

      <div class="row equipCard">
        <div class="col-2"><i class="material-icons check">done</i></div>
        <div class="col-4"><img src="../../assets/Screen Shot 2019-08-20 at 9.11.18 AM.png"></div>
        <div class="col-6">Arris TG862<br>001596EA2F0<br>Voice HSD Video</div>
      </div>



</div>
<div class="row refresh">
  <div class="col text-right"><button class="btn"><i class="material-icons">sync</i></button></div>
</div>

</div>
</div>
</div>
