.background {
  height: 100%;
 background: #f5f5f7;

 .toolBar {
   background: #0b354d;
   color: #fff;
    i {
      color: #fff;
      }
 }
ul{
  padding: 0;

  li {
    border-bottom: 1px solid grey;
    list-style: none;
     background: #fff;
     padding: 10px;

    span{
      display: block;
    }

    .dot {
      position: absolute;
      bottom: 1px;
      right: 1px;
      height: 15px;
      width: 15px;
      border: 2px solid #fff;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
    }

    i {
      color: #fff;
      background: #0b354d;
      padding: 10px;
      border-radius: 50%;
    }

  }

  li:hover{
    background: grey;
  }

}

li:first-child {
  border-top: 1px solid grey;
  margin-top: 10px;
}

}
