/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

}

.toolBar {
  position: fixed;
  top: 0;
  width: 370px;
  margin-bottom: 20px;


  background: #0b354d;
  color: #fff;
    .btn{
      color: #fff;
    }
   i {
     color: #fff;
     }
}
.background{
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  background: #f5f5f7;
  height: 100%;
}
.background::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.content{
  margin-top: 50px;
}

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0 24px 0 0;
  width: 320px;
  height: 200px;

  .mat-dialog-content {
    padding: 40px 0 30px 35px;
  }

}




.ng-tns-c3-0 {
  display: block !important;
}


// timepicker
.timepicker-backdrop-overlay{
  background-color: rgba(0,0,0,0) !important;
  display: block !important;
}
.timepicker{
  display: block !important;
  box-shadow: none !important;
}

.timepicker__header {
  background-color: #f5f5f7 !important;
}

.timepicker__body{
  background-color: #f5f5f7 !important;
}
.timepicker__actions{
  background-color: #f5f5f7 !important;
}



