<div class="background">
    <div class="toolBar">
        <div class="row">
          <div class="col"><button class="btn" (click)="backClicked()"><i class="material-icons">keyboard_backspace</i></button>Equipment Buffer </div>
        </div>
    </div>
  <div class="row equipmentLinks">
      <div class="col-12"><a [routerLink]="['/equipmentList']" routerLinkActive="router-link-active" ><img src="../../assets/list.png"></a></div>
      <div class="col-12"><img src="../../assets/scan.png"></div>
  </div>

</div>
